{% extends 'home/base.html' %}
{% block content %}


    <h1>Landing Page</h1>

    {% if user.is_authenticated %}
        <div class="basic-wrapper">
            <h2>Welcome to the site {{user.username}}</h2>
        </div>

      
    {% endif %}
    {% for letter in letter_list %}
    <a href ="{% url 'letter_detail' letter.slug %}">

    <h2 class="card-title">{{ letter.body }}</h2>
    <p class="card-title">{{ letter.author }}</p>
    <p class="card-title">{{ letter.created_on }}</p>
    </a>
 
    {% endfor %}
    
{% endblock content %}

