
.ocean{
    height: 100vh;
    width: 100vw;
    background: url("../img/ocean_main.jpg") no-repeat bottom center;
    background-size: cover;
    position: fixed;
}


.hidden {
    display: none;
}

.letter-modal {
   position: relative;
   padding: 0; margin: 0;
   left: 30%; top: 300px;
   padding: 1em;
}

.bottle {
    background: url('../img/nice_bottle.png') no-repeat center;
    background-size: cover;
    filter: invert(1);
    width: 70px; height: 70px;
    position: absolute;
    animation: appear ease-in;
    animation-duration: 12s;
    opacity: 0;
    cursor: pointer;
    color: red;
}

/* GROUP A  */

.bottle-a:nth-child(1) {
    right: 35%; top: 55%;
    animation-delay: 2s;
}


.bottle-a:nth-child(3) {
    right: 65%; top: 60%;
    animation-delay: 4s;

}

.bottle-a:nth-child(5) {
    right: 15%; top: 69%;
    animation-delay: 10s;
}

.bottle-a:nth-child(7) {
    right: 20%; top: 77%;
    animation-delay: 15s;

}

.bottle-a:nth-child(9) {
    right: 88%; top: 56%;
    animation-delay: 18s;

}

/* END GROUP A  */


/* GROUP B  */


.bottle-b:nth-child(1) {
    right: 25%; top: 67%;
    animation-delay: 23s;
}


.bottle-b:nth-child(3) {
    right: 68%; top: 55%;
    animation-delay: 28s;

}

.bottle-b:nth-child(5) {
    right: 28%; top: 66%;
    animation-delay: 32s;
}

.bottle-b:nth-child(7) {
    right: 20%; top: 77%;
    animation-delay: 38s;

}

.bottle-b:nth-child(9) {
    right: 9%; top: 68%;
    animation-delay: 42s;

}

/* END GROUP B  */

/* GROUP C  */

.bottle-c:nth-child(1) {
    right: 36%; top: 64%;
    animation-delay: 44s;
}


.bottle-c:nth-child(3) {
    right: 65%; top: 61%;
    animation-delay: 48s;

}

.bottle-c:nth-child(5) {
    right: 52%; top: 69%;
    animation-delay: 52s;
}

.bottle-c:nth-child(7) {
    right: 20%; top: 77%;
    animation-delay: 56s;

}

.bottle-c:nth-child(9) {
    right: 88%; top: 66%;
    animation-delay: 62s;
}

/* GROUP D */

.bottle-d:nth-child(1) {
    right: 36%; top: 64%;
    animation-delay: 64s;
}


.bottle-d:nth-child(3) {
    right: 65%; top: 61%;
    animation-delay: 68s;

}

.bottle-d:nth-child(5) {
    right: 52%; top: 69%;
    animation-delay: 71s;
}

.bottle-d:nth-child(7) {
    right: 20%; top: 77%;
    animation-delay: 75s;

}

.bottle-d:nth-child(9) {
    right: 88%; top: 66%;
    animation-delay: 80s;
}

/* END GROUP D  */

/* GROUP E  */

.bottle-e:nth-child(1) {
    right: 36%; top: 79%;
    animation-delay: 22s;
}


.bottle-e:nth-child(3) {
    right: 65%; top: 76%;
    animation-delay: 24s;

}

.bottle-e:nth-child(5) {
    right: 52%; top: 84%;
    animation-delay: 26s;
}

.bottle-e:nth-child(7) {
    right: 20%; top: 92%;
    animation-delay: 28s;
}

.bottle-e:nth-child(9) {
    right: 88%; top: 81%;
    animation-delay: 30s;
}

/* END GROUP E  */


/* GROUP F  */

.bottle-f:nth-child(1) {
    right: 36%; top: 79%;
    animation-delay: 22s;
}


.bottle-f:nth-child(3) {
    right: 65%; top: 76%;
    animation-delay: 24s;
}

.bottle-f:nth-child(5) {
    right: 52%; top: 84%;
    animation-delay: 26s;
}

.bottle-f:nth-child(7) {
    right: 20%; top: 92%;
    animation-delay: 28s;

}

.bottle-c:nth-child(9) {
    right: 88%; top: 81%;
    animation-delay: 30s;
}

/* END GROUP F  */


@keyframes appear {
    0% {opacity: 0; }

    5% {opacity: 1;}

    50% {opacity: 1;}

    95% {opacity: 1;}

    100% {opacity: 0; }
}