
{% extends 'home/base.html' %}
{% load static %}

{% block content %}

{% for reply in replys %}
<div class="container txt-color">

    <h4> Direct message</h4>
    <p>We hope you find love with {{reply.name}}</p>
    <form method="post" >
    {% csrf_token %}
    <input class="input-box basic-wrapper content-login-section mt-0" type="text" name="message-subject-display"
        value="Message from {{ username }} : {{reply.body}}" placeholder="Subject">
    <input type="hidden" aria-label="email" name="message-email" value="{{ reply.email }}" required>
    <textarea class="input-box basic-wrapper content-login-section mt-0" name="message" aria-label="message" placeholder="Your Message"
        required></textarea>
    <button type="submit" class="btn btn-secondary mb-2">Send Message</button>
    </form>
</div>

{% endfor %}
{% endblock %}