{% extends 'home/base.html' %}
{% block content %}
{% load crispy_forms_tags %}


<div class="container">
    <div class="row g-0 txt-color mt-3">
        <h1>{{ letter.body }}</h1>
        <p>{{ letter.author }} | {{ letter.created_on }}</p>
    </div>

    {% if user.is_authenticated %}
    <div class="form-background">
        <div class="basic-wrapper content-login-section mt-0">
            <h3>Leave a reply:</h3>
            <p>Reply to bottle from: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ reply_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-info login-btn">Send</button>
                </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}