{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<section class="ocean">
        
    {% if group_a %}
    <div class="bottle-wrapper group-a">
            {% for letter in group_a %}
                <div class="bottle bottle-a"></div>
                <div class="letter-modal">
                    <div class="modal-wrapper letter-content">
                        <div class="letter-msg">
                            <p>{{letter.author}}</p>
                            <p>{{letter.body}}</p>
                        </div>
                       <div class="letter-btns">
                            <a class="letter-btn" href="{% url 'letter_detail' letter.slug %}">Reply</a>
                            <button id="close-letter-modal" class="letter-btn throw-btn">Throw back</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>
    {% else %}
        <div class="basic-wrapper card">
            <h2>No Bottles in the ocean</h2>
        </div>
    {% endif %}

    {% if group_b %}
    <div class="bottle-wrapper group-b">
            {% for letter in group_b %}
                <div class="bottle bottle-b"></div>
                <div class="letter-modal">
                    <div class="modal-wrapper letter-content">
                        <div class="letter-msg">
                            <p>{{letter.author}}</p>
                            <p>{{letter.body}}</p>
                        </div>
                          <div class="letter-btns">
                            <a class="letter-btn" href="{% url 'letter_detail' letter.slug %}">Reply</a>
                            <button id="close-letter-modal" class="letter-btn throw-btn">Throw back</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>
    {% endif %}

    {% if group_c %}
    <div class="bottle-wrapper group-c">
        {% for letter in group_c %}
            <div class="bottle bottle-c"></div>
            <div class="letter-modal">
                    <div class="modal-wrapper letter-content">
                        <div class="letter-msg">
                            <p>{{letter.author}}</p>
                            <p>{{letter.body}}</p>
                        </div>
                        <div class="letter-btns">
                            <a class="letter-btn" href="{% url 'letter_detail' letter.slug %}">Reply</a>
                            <button id="close-letter-modal" class="letter-btn throw-btn">Throw back</button>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if group_d %}
    <div class="bottle-wrapper group-d">
        {% for letter in group_d %}
            <div class="bottle bottle-d"></div>
           <div class="letter-modal">
                    <div class="modal-wrapper letter-content">
                        <div class="letter-msg">
                            <p>{{letter.author}}</p>
                            <p>{{letter.body}}</p>
                        </div>
                         <div class="letter-btns">
                            <a class="letter-btn" href="{% url 'letter_detail' letter.slug %}">Reply</a>
                            <button id="close-letter-modal" class="letter-btn throw-btn">Throw back</button>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
    {% endif %}


</section>




<script src="{% static 'bottles/js/ocean.js' %}"></script>

{% endblock content %}

