
@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap');


/* Initial page settings */

* {
    margin: 0;
    padding: 0;
    border: 0;
}



body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    position: relative;
    width: 100%;

}
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }



#row {
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

#body-image {
    height: 85%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url("../img/heart1.jpg");
    overflow: hidden;
    position: absolute;
    margin: 0%;
    padding-right: 0%;
    padding-left: 0%;
}


/* headings and logo */

#logo {

    font-size: small;
    text-transform: uppercase;
    position: absolute;
    right: 1300px;

}

.message {
    font-family: 'Love Light', cursive;
    font-size: 64px;
}

.basic-wrapper {
    width: 90%;
    max-width: 600px;
    margin: 5em auto;
}

/*Navbar section*/

.navbar {
    background-color: #590c8d;

}

.nav-item {
    font-size: small;
    text-transform: uppercase;
    float: right;
    margin-left: 40px;
}

.nav-text-color {
    color: #c31aad;
}

.nav-text-color:hover {
    color: #fff;
    background-color: #c31aad;
    ;
}




footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 100px;
    width: 100%;
    padding: 0 30px;
    display: flow-root;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #fff
}


.social-links {
    margin-top: 20px;
}

.social-links li a i {
    background-color: #42193d;
    ;
    height: 50px;
    width: 50px;
    color: #fff;
    font-size: 30px;
    padding: 10px;
    border-radius: 20%;
}

.social-links li a i:hover {
    background: #FFCCCC;
    color: #c31aad;
}