@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap');


/* Initial page settings */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    position: relative;
    width: 100%;
}

#row {
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

#body-image {
    height: 85%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url("../img/heart1.jpg");
    overflow: hidden;
    position: absolute;
    margin: 0%;
    padding-right: 0%;
    padding-left: 0%;
}


/* headings and logo */

#logo {
    font-size: small;
    text-transform: uppercase;
    position: absolute;
    right: 1300px;
}

.message {
    font-family: 'Love Light', cursive;
    font-size: 64px;
}

.basic-wrapper {
    width: 90%;
    max-width: 600px;
    margin: 5em auto;
}

/*Navbar section*/

.navbar {
    background-color: #590c8d;
}

.nav-item {
    font-size: small;
    text-transform: uppercase;
    float: right;
    margin-left: 40px;
}

.nav-text-color {
    color: #c31aad;
}

.nav-text-color:hover {
    color: #fff;
    background-color: #c31aad;
}

#logo {
    font-size: xx-large;
    color: #FFCCCC
}

#logo:hover {
    color: #c31aad;
}

/*sign up section*/

#signup {
    margin-top: 100px;
    color: #590c8d;
    font-size: x-large;

}

#below_heart {
    color: #42193d;
    font-size: 30px;
    margin-right: 10px;
}

.sign-up-heart {
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    display: block;
    width: 100px;
    height: 100px;
    font-size: 90px;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
    color: #42193d;
    padding-top: 5px;
}

.sign-up-heart:hover {
    padding-top: 50px;
    font-size: 100px;
    color: #c31aad;
    background-color: #FFCCCC;
    width: 200px;
    height: 200px;
    transform: rotate(360deg);
}

/*footer section*/

p {
    margin-top: 10px;
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 100px;
    width: 100%;
    padding: 0 30px;
    display: flow-root;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #fff
}

.social-links {
    margin-top: 20px;
}

.social-links li a i {
    background-color: #42193d;
    ;
    height: 50px;
    width: 50px;
    color: #fff;
    font-size: 30px;
    padding: 10px;
    border-radius: 20%;
}

.social-links li a i:hover {
    background: #FFCCCC;
    color: #c31aad;
}