@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap');


/* Initial page settings */

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.landing-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* headings and logo */

a {
    text-decoration: none !important;
}

#logo {
    font-family: 'Lovers Quarrel', cursive;
    font-size: 300%;
    color: #FFCCCC;
    margin-left: 3rem;
    position: relative;
}

#logo:hover {
    color: #c31aad;
}

.basic-wrapper {
    width: 90%;
    max-width: 600px;
    margin: 5em auto;
}

/*Navbar section*/

header {
    background-color: #590c8d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    margin-right: 3rem;
}

.nav-item {
    text-transform: uppercase;
}

/* landing page */

#row {
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

#body-image {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url("../img/heart1.jpg") no-repeat center center;
    background-size: cover;
    position: absolute;
}

/*sign up heart*/

#about-btn{
    background-color: #590c8d;
}

#signup {
    margin-top: 15em;
    color: #590c8d;
    font-size: x-large;
}

#below_heart {
    color: #42193d;
    font-size: 30px;
    font-weight: 600;
    margin-right: 10px;
}

.fa-heart {
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    display: block;
    width: 100px;
    height: 100px;
    font-size: 90px;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
    color: #42193d;
    padding-top: 5px;
}

.fa-heart:hover {
    padding-top: 50px;
    font-size: 100px;
    color: #c31aad;
    background-color: #FFCCCC;
    width: 200px;
    height: 200px;
    transform: rotate(360deg);
}

/*footer section*/

footer {
    position: relative;
}

.social-links {
    margin-top: 20px;
}

.social-links li a i {
    background-color: #42193d;
    height: 50px;
    width: 50px;
    color: #fff;
    font-size: 30px;
    padding: 10px;
    border-radius: 20%;
}

.social-links li a i:hover {
    background: #FFCCCC;
    color: #c31aad;
}

input.input-box{
width:75%;
}

textarea.input-box.input-lg{
    width:75%;
    }
<<<<<<< HEAD
/* Media Queries */
=======

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
    /*Modal Content*/
.modal-div {
  position: relative;
  background-color: transparent;
  margin: auto;
  padding: 0;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal-body{
    color:#42193d;
    background-color: #ffcccc;
    font-weight: bold;
    font-size: 1.2em;
}

.modal h2{
    font-family: 'Lovers Quarrel', cursive;
    font-size: 4.5em;
    color: #ffcccc;
}


    /*Add Animation*/
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

    /*Close Button*/
.close {
  color: #ffcccc;
  float: right;
  font-size: 3em;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #c31aad;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #42193d;
  color: white;
}

.modal-body {padding: 2px 16px;}

    /* Media Queries */
>>>>>>> 6e0aebceaea12c3e91eaf41d1e07191271a8bc8b

@media screen and (max-width: 500px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    #about-btn{
        margin-left: -60px;
    }
    .modal h2{
        font-size: 3.5em;
    }
    .modal-div {
        width: 80%;
    }

}

@media screen and (max-width: 375px) {

    #signup {
        margin-top: 12em;
    }
}

@media screen and (max-width: 350px) {
    #logo {
        font-size: 250%;
    }
}